:root {
    --color-bg: linear-gradient(135deg, #0f0c29, #302b63, #24243e) ;
    --color-glass: rgba(255, 255, 255, 0.07);
    --color-border: rgba(255, 255, 255, 0.15);
    --color-main: #fff;
    --color-glasstext: rgba(255, 255, 255, 0.6);
    --color-glass2: rgba(255, 255, 255, 0.4);
   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template-columns: 250px 1fr;
    min-height: 100vh;
    background: var(--color-bg);
    font-family: 'DM Sans', sans-serif;
}
/* side bar */

header {
    display: flex;
    flex-direction: column;
    padding: 40px; 
    background: var(--color-glass);
    border: 1px solid var(--color-border);
    border-radius: 20px;
    
}

.profile {
    margin-top: auto;
    flex-direction: row;
    display: flex;
    align-items: center;
     gap: 15px;
     
    
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}

h1{
    color: var(--color-main);
    font-size: 1.3rem;

}

.navbar li {
    list-style: none;
    margin: 31px 0;
}

li a {
    text-decoration: none;
    color: var(--color-glasstext);
   
    font-size: 0.9rem;

}

.username {
    font-size: 0.8rem;
    color: var(--color-main);
    font-weight: bold;
}

 .plan {
color: var(--color-glass2);
font-size: 0.7rem; 
}

.hamburger {
    display: none;
    
}

a[aria-current="page"] {
    color: #a78bfa; 
    display: inline-block;
    background: rgba(167,139,250,0.2);
    padding: 15px 65px 15px 15px;
    border-radius: 10px; 
}

li a:not(a[aria-current="page"]) {
    padding: 15px 65px 15px 15px;
}

li a:hover:not(a[aria-current="page"]) {
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    
}

.nav-icon{
    margin-right: 6px
}

/* main content */

.main-content{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "topbar topbar"
    "stats stats"
    "chart recent";
    gap: 20px;
   max-width: 100%;
   margin: 0 auto;
   
}

/* top bar main container */
.topbar__container {
    grid-area: topbar;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-glass);
    border: 1px solid var(--color-border);
    border-radius: 20px;
}

.topbar-title {
    color: var(--color-main);
    font-size: 1.4rem;
    padding-left: 20px;
}

.search  {
    display: flex;
    padding: 10px 20px; 
}

.search input {
    background: var(--color-glass);
    border: 1px solid var(--color-border);
    border-radius: 20px ;
    color: var(--color-main);
    font-size: 0.9rem;
    width: 200px;
    height: 40px;
    padding: 0 15px;
    text-decoration: none;
}

.topbar.text {
    display: flex;
    flex-direction: column;
}

.topbar-text p {
    color: var(--color-glasstext);
    font-size: 0.9rem;
    padding-left: 20px;
}

/*stats container */

.stats {
    grid-area: stats;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
                  /*stat cards */
.stat-card {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    flex: 1;
    background: var(--color-glass);
    border: 1px solid var(--color-border);
    border-radius: 20px;
    padding: 20px;
    position:relative
}

.stat-card .stat-label {
    color: var(--color-glasstext);
    font-size: 0.8rem;
    font-weight: normal;
    text-transform: uppercase;  
    letter-spacing: 0.5px;
}

.stat-card .stat-value {
    color: var(--color-main);
    font-size: 1.7rem;
    font-weight: bold;
}

.stat-card .stat-change {
    color: limegreen;
    font-size: 0.8rem;
    
}

.stat-card .stat-change.down {
    color: red;
    font-size: 0.8rem;
}

.stat-card::after {
    content: "";
    display: block;
    margin-top: 10px;
    height: 4px;
    border-radius: 2px;
    animation: status-bar 2s ease-out 1;
    animation-fill-mode: forwards;
}
.stat-card::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 21px;;
    width: 79%; 
    height: 4px;
    margin-top: 10px;
    background: var(--color-glass);
    border-radius: 2px;
    
}

@keyframes status-bar {
    0% {
        width: 0;
        background: var(--bar-color);
    }
    
    100% {
        width: var(--bar-width);
        background: var(--bar-color);
    }
}
/* chart panel */
.chart-panel {
    grid-area: chart;
    background: var(--color-glass);
    border: 1px solid var(--color-border);
    border-radius: 20px;
    padding: 20px;
}

.barchart {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 150px;
    color: var(--color-glasstext);
    font-size: 0.8rem;

}
.bar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    gap: 5px;
}
.bar-wrapper .bar {
    list-style: none;
    margin: 0 5px;
    width: 30px;
    height: var(--height);
    background: linear-gradient(to top, #7c3aed, #a78bfa);
    border-radius: 5px 5px 0 0;
}

.bar-highlight {
    background: var(--bar-color);
}

.chart-label {
    color: var(--color-main);
    font-size: 0.9rem;
     margin-bottom: 10px;
}




/* recent activity */
.recent-activity {
    grid-area: recent;
    background: var(--color-glass);
    border: 1px solid var(--color-border);
    border-radius: 20px;
    padding: 20px;
}